<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定时任务参数配置</title>
</head>
<body>
    <table border="3" bordercolor="black" cellspacing="0" cellpadding="0" style="table-layout: fixed;
        word-wrap:break-word;">
        <tr>
            <td>序号</td>
            <td>配置名</td>
            <td>配置值</td>
            <td>配置状态</td>
            <td>配置说明</td>
            <td>生效时间</td>
        </tr>
        {% for item in conf_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.config_key }}</td>
                <td>{{ item.config_value }}</td>
                <td>{{ item.config_status }}</td>
                <td>{{ item.remark }}</td>
                <td>{{ item.enable_time }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>